 Empty. Add your own CSS if you like */

input, textarea, select {
   -webkit-appearance: none;
}

input[type="text"] {

}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}

#add-image-to-set {
  float: right;
  font-size: 34px;
}

.image-set-name {
  display: inline-block;
  float: left;
}

.add-image-container {
  width:100%;
}

/* CHOOSE SET Styles */

.choose-set-to-add-image {
  margin: 30px auto;
  border: 3px solid grey;
  display: block;
  border-radius: 50%;
  width: 66px;
  padding:20px;
}

.choose-set-to-add-image .icon {
  color: grey;
  font-size: 20px;
  margin-left:35%;
}

.choose-set {
  margin-top: 40%;
  display: block;
}

.choose-set #patient-name-input, .choose-set #set-name-input {
  padding: 10px 10px 10px 15px;
  background-color: #dddddd;
  width: 60%;
  color: grey;
  border: 1px solid lightgrey;
  display: block;
  margin: 0 auto;
  height: 40px;
}

.patient-search-container {
  width: 50%;
  max-height: 40px;
  position: absolute;
  top: -40%;
  left: 25%;
}

.set-search-container {
  width: 50%;
  max-height: 40px;
  position: absolute;
  top: 15%;
  left: 25%;
}

.patient-search-container .patient-search-input {
  padding: 0 15px;
  width: 91%;
  border: 1px solid lightgrey;
  border-bottom: 3px solid grey;
  -webkit-appearance: none;
  -webkit-border-radius:0; 
  border-radius:0;
}


.patient-search-container .patient-dropdown {

}

.patient-search-container .patient-dropdown .list {

}

.patient-search-container .patient-dropdown .list .item {
  color: lightgrey;
  height: 40px;
  padding: 10px;
}

.patient-search-container .patient-dropdown .list .item .create-patient-btn h2 {
  font-weight: bold;
} 


/* NEW SET styles */

.new-set-add, .new-patient-add {
  height: 100px;
}

.new-set-add #new-set-add-icon, .new-patient-add #new-patient-add-icon {
  width:60px;
  font-size: 60px;
  display: inline-block;
}

.new-set-add #add-set-text, .new-patient-add #add-patient-text  {
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
}

.wrapping-list .item-remove-animate p {
  overflow: initial;
  white-space: initial;
}

/*.list {
  border: 1px solid red;
  margin-top: 40%;
}